.graph-container {
	background-color: #F5F5F5;
	width: 100%;
	height: 300px;
}
.graph-container button {
	position: relative;
	float: right;
	margin-top: -40px;
	margin-right: 10px;
}
.fullscreen {
	height: 100% !important;
}