<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<h1>Coupling Criteria Catalog</h1>
			
			<div class="col-md-4">
			
				<tabset vertical="true" type="pills">
					<tab ng-repeat="criterion in criteria" select="tabSwitched(criterion)" heading="{{criterion.name}}" ></tab>
				</tabset>
				
			</div>
			
			<div class="col-md-8" ng-show="criterion">
			
			<img alt="Coupling Criteria Card {{criterion.code}}" src="https://raw.githubusercontent.com/ServiceCutter/ServiceCutter/master/CC-Cards/{{criterion.code | lowercase}}.png">
			
			<div ng-show="criterion.type == 'COMPATIBILITY'">
				<h3>Characteristics</h3>
				<ul>
					<li ng-repeat="characteristic in criterion.characteristics">
						<strong>{{characteristic.name}}</strong> 
						<span>[weight={{characteristic.weight}}]</span>
					</li>
				</ul>
			</div>

			</div>
			
		</div>
	</div>
</div>
