<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<h1>Service Cutter</h1>
			<div class="col-md-7">
				<form class="form-inline">
					<div class="form-group">
						<select id="modelId" class="form-control" ng-model="modelId"
							ng-options="item.id as 'Model #' + item.id for item in availableModels">
							<option value=''>- Choose an existing model -</option>
						</select>
					</div>
					
	
					<span>{{status}}</span>
				</form>
	
				<div ng-show="modelId">
	
					<div class="graph-container" ngsf-fullscreen>
						<div class="buttons">
							<button class="btn btn-default" title="Recalculate" ng-click="solve()">
								<span class="glyphicon glyphicon-repeat"></span>
							</button>
							<button class="btn btn-default" title="Save suggested service cut" ng-click="downloadCut()">
								<span class="glyphicon glyphicon-download-alt"> </span> 
							</button>
							<button class="btn btn-default" title="Full screen" ngsf-toggle-fullscreen>
								<span class="glyphicon glyphicon-resize-full"></span>
							</button>
						</div>
						<vis-network data="graphData" options="graphOptions"
							events="graphEvents"></vis-network>
					</div>
	
				</div>
				            
				<div ng-show="selectedServiceName">
					<h2>{{selectedServiceName}}</h2>
					<p>Responsible for Use Cases:</p>
					<ul>
						<li ng-repeat="useCase in selectedServiceUseCases">{{useCase}}</li>
					</ul>
					<p><b>Relationships:</b></p>
					<div ng-repeat="relation in selectedServiceRelations">
						<p>Published Language between {{relation.name}}</p>
						<ul>
							<li ng-repeat="field in relation.fields">{{field}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-5">
			<!-- this structure is a bit complicated as bootstrap requires:
				"Content should be placed within columns, and only columns may be immediate children of rows."
			 -->

				<div class="row"><form class="form-inline" name="myForm">
				<div ng-repeat="type in criteriaTypes" class="form-group form-group-sm col-md-12">
					<h4>{{type | capitalize}} Criteria Priorities</h4>
					<div ng-repeat="criterion in criteria | filter:type:expectComparator" class="form-group form-group-sm col-md-12">
						<div class="row" style="margin-bottom: 10px">
							<div class="col-md-8">
								<label for="{{criterion.name}}">{{criterion.name}}</label>
							</div>
							<div class="col-md-4">
								<select name="{{criterion.name}}" id="{{criterion.name}}" ng-model="criterion.priority"  
									ng-change="solve()" class="form-control">
								  	<option ng-selected="criterion.priority == metric.value" ng-repeat="metric in priorityMetric" value="{{metric.value}}">{{metric.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				</form></div>
				
				<h3>Algorithm:</h3>
				<select class="form-control" ng-model="algorithm" ng-options="a for a in availableAlgorithms" ng-change="solve()"></select>
				
				<h3>Visualization:</h3>
				<form class="form-inline" name="myVizForm">	
				<div class="form-group form-group-sm">			
					<label for="show-relations">Show Service Relations</label> <br />
					<toggle-switch ng-model="showRelations" id="show-relations"
						ng-click="solve()"></toggle-switch>
				</div>
				</form>
				
				<h3>Algorithm Params:</h3>
				<div width="50%">
				    Number of Services (Girvan-Newman):<br />
				    <rzslider rz-slider-model="numberSlider" 
				    	rz-slider-step="1" 
				    	rz-slider-precision="0" 
				    	rz-slider-on-end="solve()" 
				    	rz-slider-floor="0" 
				    	rz-slider-ceil="10">
				    </rzslider>
				    <span class="inline-help" popover="An exponential factor applied to the clustering function. For values > 0 more preference is given to a node with 
				    	more neighbours; for values < 0 less." popover-trigger="mouseenter">
				    	Node characteristic preference</span> (Leung):<br />
				    <rzslider rz-slider-model="leungM" 
				    	rz-slider-step="0.1" 
				    	rz-slider-precision="1" 
				    	rz-slider-on-end="solve()" 
				    	rz-slider-floor="-2" 
				    	rz-slider-ceil="2">
				    </rzslider>
				    <span class="inline-help" popover="The hop attenuation factor governs how far a particular label can spread as a function of the geodesic distance 
				    from its origin. This additional parameter adds in extra uncertainties to the algorithm but may encourage a stronger local community to form before 
				    a large cluster start to dominate." popover-trigger="mouseenter">Hop attenuation factor</span> (Leung):<br />
				    <rzslider rz-slider-model="leungDelta" 
				    	rz-slider-step="0.05" 
				    	rz-slider-precision="2" 
				    	rz-slider-on-end="solve()" 
				    	rz-slider-floor="0" 
				    	rz-slider-ceil="1">
				    </rzslider>
				</div>				
			</div>
		</div>
	</div>
</div>
