<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<h1>Service Cutter</h1>
			<div class="col-md-7">
				<form class="form-inline">
					<div class="form-group">
						<select id="modelId" class="form-control" ng-model="modelId"
							ng-options="item.id as '#' + item.id + ' ' + item.name for item in availableModels">
							<option value=''>- Choose an existing model -</option>
						</select>
					</div>
					<span>{{status}}</span>
				</form>
	
				<div id="result-container" ng-show="modelId">
					<div class="graph-container" ngsf-fullscreen>
						<vis-network data="graphData" options="graphOptions"
							events="graphEvents"></vis-network>
						<div class="buttons" ng-show=modelId>
							<button class="btn btn-default" title="Full screen" ngsf-toggle-fullscreen>
							<span class="glyphicon glyphicon-resize-full"></span>&nbsp;Fullscreen
							</button>
						</div>
					</div>	
				</div>
				            
				<div ng-show="selectedServiceName && showRelations">
					<h3>{{selectedServiceName}}</h3>
					<p>Responsible for Use Cases:</p>
					<ul>
						<li ng-repeat="useCase in selectedServiceUseCases">{{useCase}}</li>
					</ul>
				</div>
				<div ng-show="selectedServiceRelations && showRelations">
					<h3>Published Language</h3>
					<div ng-repeat="relation in selectedServiceRelations">
						<p>Published Language between <strong>{{relation.name}}</strong></p>
						<ul>
							<li ng-repeat="nanoentity in relation.entities">{{nanoentity}}</li>
						</ul>
					</div>
				</div>
				<div ng-show="showGirvanWarning" 
					class="alert alert-danger" role="alert">
					<strong>Alert:</strong>The Girvan-Newman algorithm has problems finding services from the input data. Please add more data to describe your system, change priorities or change to Leung algorithm.
				</div>
				
				<div ng-show="showGirvanWarningNoC" 
					class="alert alert-danger" role="alert">
					<strong>Alert:</strong>The Girvan-Newman algorithm could not provide to requested number of services.
				</div>
				
				<div ng-show="!girvanNewmanActive" class="alert alert-info" role="alert">
					<strong>Hint:</strong> Leung algorithm is not deterministic. Recalculate to run the algorithm again.
				</div>
				
				<div ng-show="showRelations && !(selectedServiceName || selectedServiceRelations)" 
					class="alert alert-info" role="alert">
					<strong>Hint:</strong> Select a service or a relation between services to see responsibilities and published language.
				</div>
				
			</div>
			<div class="col-md-5">
			<!-- this structure is a bit complicated as bootstrap requires:
				"Content should be placed within columns, and only columns may be immediate children of rows."
			 -->

				<button ng-class="{'btn-info': !girvanNewmanActive, 'btn-danger': recalculationRequired}" class="btn btn-default" title="Recalculate" ng-click="solve()" ng-disabled="!modelId">
					<span class="glyphicon glyphicon-repeat"></span>&nbsp;Recalculate
				</button>
				<button class="btn btn-default" title="Save suggested service cut" ng-click="downloadCut()" ng-disabled="!modelId">
					<span class="glyphicon glyphicon-download-alt"></span>&nbsp;Export JSON 
				</button>

				<h3>Priorities</h3>
				
				<div class="row"><form class="form-inline" name="myForm">
				<div ng-repeat="type in criteriaTypes" class="form-group form-group-sm col-md-12">
					<h4>{{type | capitalize}} Criteria</h4>
					<div ng-repeat="criterion in criteria | filter:type:expectComparator" class="form-group form-group-sm col-md-12">
						<div class="row" style="margin-bottom: 10px">
							<div class="col-md-8">
								<label for="{{criterion.name}}">{{criterion.name}}</label>
							</div>
							<div class="col-md-4">
								<select ng-change="requireRecalculate()" name="{{criterion.name}}" id="{{criterion.name}}" ng-model="criterion.priority" class="form-control">
								  	<option ng-selected="criterion.priority == metric.value" ng-repeat="metric in priorityMetric" value="{{metric.value}}">{{metric.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				</form></div>

				<h3>Analysis Mode</h3>
				<form class="form-inline" name="myVizForm">	
				<div class="form-group form-group-sm">
					<div class="alert alert-info" role="alert" ng-show="disableVisualization">Please provide use case specifications or change Semantic Proximity priority to enable analysis mode</div>			
					<div ng-show="!disableVisualization"> 
						<toggle-switch ng-model="showRelations" id="show-relations" ng-click="repaintGraph()"></toggle-switch>
					</div>
				</div>
				</form>
				
				<h3>Algorithm</h3>
				<select class="form-control" ng-model="algorithm" ng-options="a for a in availableAlgorithms"></select>

				<div ng-show="girvanNewmanActive">
					<h3>Number of Services:</h3>
					<div width="50%">
					    <rzslider rz-slider-model="numberSlider" 
					    	rz-slider-step="1" 
					    	rz-slider-precision="0" 
					    	rz-slider-floor="0" 
					    	rz-slider-on-end="requireRecalculate()" 
					    	rz-slider-ceil="30">
					    </rzslider>
					</div>
				</div>


<!-- excluded to simplify UI for demonstration purposes   				
				<h3>Algorithm parameters</h3>
				<div width="50%">
				    <span class="inline-help" popover="An exponential factor applied to the clustering function. For values > 0 more preference is given to a node with 
				    	more neighbours; for values < 0 less." popover-trigger="mouseenter">
				    	Node characteristic preference</span> (Leung):<br />
				    <rzslider rz-slider-model="leungM" 
				    	rz-slider-step="0.1" 
				    	rz-slider-precision="1" 
				    	rz-slider-floor="-2" 
				    	rz-slider-ceil="2">
				    </rzslider>
				    <span class="inline-help" popover="The hop attenuation factor governs how far a particular label can spread as a function of the geodesic distance 
				    from its origin. This additional parameter adds in extra uncertainties to the algorithm but may encourage a stronger local community to form before 
				    a large cluster start to dominate." popover-trigger="mouseenter">Hop attenuation factor</span> (Leung):<br />
				    <rzslider rz-slider-model="leungDelta" 
				    	rz-slider-step="0.05" 
				    	rz-slider-precision="2" 
				    	rz-slider-floor="0" 
				    	rz-slider-ceil="1">
				    </rzslider>
				</div>
-->				
			</div>
			
		</div>
	</div>
</div>
