<div ng-cloak>
    <h1>Service Cutter</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Select an existing system or use the json file upload to start the process.</p>
            
            <form class="form-inline">
            	<div class="form-group">
		            <select id="modelId" class="form-control" ng-model="modelId" ng-options="item.id as '#' + item.id + ' ' + item.name for item in availableModels">
		            	<option value=''>- Choose an existing system -</option>
		            </select>
            	</div>
	
				<button title="Delete system" class="btn btn-default" ng-click="deleteSystem()" ng-show="modelId">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>

				<div class="btn btn-default" ngf-select ng-model="file" ngf-multiple="false">
					<span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
					Upload File
				</div>
				
				<span>{{status}}</span>
            </form>
            
 			<br />
            <div ng-show="jsonErrorModel" class="alert alert-danger" role="alert">
        
				<strong>Input Validation Error. </strong><span popover-append-to-body="true" class="inline-help" popover="{{jsonErrorModel}}" popover-trigger="mouseenter">
				    	Display JSON parsing error</span>
			</div>
			
			<div ng-show="modelId">
			
				<h2>System #{{modelId}}</h2>
			
				<p>Name: <strong>{{model.name}}</strong></p>
				
				<h3>Nanoentities</h3>
				
				<span ng-repeat="nanoentity in model.nanoentities">
					<span class="label label-default" style="background-color: {{getColor(nanoentity.context)}};">
						{{nanoentity.contextName}} 
					</span> &nbsp;
				</span>

			
			</div>
			
			<div ng-show="modelId">
			
				<h3>Coupling</h3>
				
				<form stlyle="margin-bottom: 10px;">
  					<div class="form-group">
						<input type="text" class="form-control" ng-model="ccFilter"
							placeholder="Filter Coupling Criteria instances" />
					</div>
				</form>
				
				<div class="panel panel-primary" ng-repeat="coupling in model.coupling | filter:ccFilter">
					<div class="panel-heading">
						{{coupling.couplingCriterion.name}} 
						<span ng-show="coupling.instanceType">- {{coupling.instanceType}}</span>
						<span ng-show="coupling.characteristic.name">- <strong>{{coupling.characteristic.name}}</strong></span>
						<span ng-show="!coupling.characteristic.name">- <strong>{{coupling.name}}</strong></span>
					</div>
					<div class="panel-body">
						<span ng-repeat="nanoentity in coupling.allNanoentities">
							<span class="label label-default"
								popover-append-to-body="true" popover="{{nanoentity.contextName}}" popover-trigger="mouseenter">
								{{nanoentity.name}} 
							</span> &nbsp;
						</span>
						
					</div>
				</div>
			
            </div>
            
        </div>
        <div class="col-md-4" ng-show="modelId">
        
        	<h3>Enhance System #{{modelId}}</h3>
			
			 <form class="form-inline">
				<div class="btn btn-default" ngf-select ng-model="userRepFile" ngf-multiple="false">
					<span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
					Upload User Representations</div>
				<div>{{userRepStatus}}</div>
				</p>
            </form>
            
            <div ng-show="inputError" class="alert alert-danger" role="alert">
				<strong>Input Errors: </strong>
				<ul>
					<li ng-repeat="error in inputError">{{error}}</li>
				</ul>
			</div>
            
           	<div ng-show="jsonError" class="alert alert-danger" role="alert">
				<strong>Input Validation Error. </strong><span popover-append-to-body="true" class="inline-help" popover="{{jsonError}}" popover-trigger="mouseenter">
				    	Display JSON parsing error</span>
			</div>

        </div>
    </div>
</div>
