<div ng-cloak>
    <h1>Service Cutter</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Select an existing model or use the json file upload to start the process.</p>
            
            <form class="form-inline">
            	<div class="form-group">
		            <select id="modelId" class="form-control" ng-model="modelId" ng-options="item.id as '#' + item.id + ' ' + item.name for item in availableModels">
		            	<option value=''>- Choose an existing model -</option>
		            </select>
            	</div>
	
				<div class="btn btn-default" ngf-select ng-model="file" ngf-multiple="false">Upload File</div>

				<span>{{status}}</span>
            </form>
            
			<div ng-show="modelId">
			
				<h2>Model #{{modelId}}</h2>
			
				<p>Name: <strong>{{model.name}}</strong></p>
				
				<p>Nanoentities:</p>
				
				<ul>
					<li ng-repeat="nanoentity in model.nanoentities">#{{nanoentity.id}} - {{nanoentity.contextName}}</li>
				</ul>
			
			</div>
			
			<div ng-show="modelId">
			
				<h3>Coupling</h3>
				
				<ul>
					<li ng-repeat="coupling in model.coupling">{{coupling.couplingCriterion.name}}
					<span ng-show="coupling.instanceType">- {{coupling.instanceType}}</span>
					<span ng-show="coupling.characteristic.name">- <strong>{{coupling.characteristic.name}}</strong></span>
					<span ng-show="!coupling.characteristic.name">- <strong>{{coupling.name}}</strong></span>
					<ul>
						<li>{{ listNanoentityNames(coupling.allNanoentities) }}</li>
					</ul>
					</li>
				</ul>
			
            </div>
            
        </div>
        <div class="col-md-4" ng-show="modelId">
        
        	<h3>Enhance model #{{modelId}}</h3>
			
			 <form class="form-inline">
				<div class="btn btn-default" ngf-select ng-model="userRepFile" ngf-multiple="false">Upload User Representations</div>
				<span>{{userRepStatus}}</span>
				</p>
            </form>

        </div>
    </div>
</div>
