<div ng-cloak>
    <h1>Service Cutter</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Select an existing model or use the json file upload to start the process.</p>
            
            <form class="form-inline">
            	<div class="form-group">
		            <select id="modelId" class="form-control" ng-model="modelId" ng-options="item.id as 'Model #' + item.id for item in availableModels">
		            	<option value=''>- Choose an existing model -</option>
		            </select>
            	</div>
	
				<div class="btn btn-default" ngf-select ng-model="file" ngf-multiple="false">Upload File</div>

				<span>{{status}}</span>
            </form>
            
			<div ng-show="modelId">

	            <div class="graph-container" ngsf-fullscreen>
	            	<vis-network data="graphData" options="graphOptions" events="graphEvents"></vis-network>
		            <button class="btn btn-default" ngsf-toggle-fullscreen><span class="glyphicon glyphicon-resize-full"></span></button>
	            </div> 
			
			</div>
	            
        </div>
        <div class="col-md-4">
            
			<div ng-show="modelId">

				<h2>Model #{{modelId}}</h2>
				
				<p>Name: <strong>{{model.name}}</strong></p>
				
				<p>Data Fields:</p>
				
				<ul>
					<li ng-repeat="dataField in model.filteredDataFields">#{{dataField.id}} - {{dataField.contextName}}</li>
				</ul>
			
			</div>
			
			<div ng-show="modelId">
			
				<h3>Coupling</h3>
				
				<ul>
					<li ng-repeat="coupling in model.coupling">{{coupling.variant.couplingCriterion.name}} - <strong>{{coupling.variant.name}}</strong> - {{coupling.name}}
					<ul>
						<li>{{ listFieldNames(coupling.allFields) }}</li>
					</ul>
					</li>
				</ul>
			
				 <form class="form-inline">
					<p>Upload user story definitions for model #{{modelId}}:
					<div class="btn btn-default" ngf-select ng-model="transactionsFile" ngf-multiple="false">Upload user stories</div>

					<span>{{transactionStatus}}</span>
					</p>
	            </form>
	         	<form class="form-inline">
					<p>Upload distance criteria for model #{{modelId}}:
					<div class="btn btn-default" ngf-select ng-model="distancesFile" ngf-multiple="false">Upload distance criteria</div>
					<span>{{distanceStatus}}</span>
					</p>
	            </form>
	         	<form class="form-inline">
					<p>Upload separation criteria for model #{{modelId}}:
					<div class="btn btn-default" ngf-select ng-model="separationCriteriaFile" ngf-multiple="false">Upload separation criteria</div>
					<span>{{separationStatus}}</span>
					</p>
	            </form>
            </div>

        </div>
    </div>
</div>
